<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Medio Creator</title>
</head>
<body>
    <h2>Medio Creator</h2>
    <form action="/editor" method="post">
        <label for="youtube_url">Youtube url:</label><br>
        <input type="text" id="youtube_url" name="youtube_url"><br>
        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <input type="submit" id="fetch" value="fetch">fetch</button>
    </form>
</body>
</html>